<%- include('layout/head.ejs', { title: 'Orai Lietuvoje'}) %>
<%- include('layout/header.ejs') %>
<%- include('layout/nav.ejs') %>
    <main>
        <div class="container">

        </div>
    </main>
<%- include('layout/footer.ejs') %>